---
layout: home
title: BLOG
description: "The personal blog of Hossain Mohd. Faysal, a doctoral candidate in Electrical Engineering at University of Pennsylvania."
headline: An Engineer's Diary
tags: [Hossain, Mohd, Faysal, electrical, engineering, blog, university, pennsylvania, doha, Qatar]
---
{% if site.paginate %}
{% assign post_number = 0 %}
{% for post in paginator.posts %}
{% assign post_number = post_number | plus:'1' %}
{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
{% assign posttime = post.date | date: "%Y%m%d" %}
{% if post_number == site.paginate %}<article class="post-short last" role="article" itemscope itemtype="http://schema.org/Article">{% else %}<article class="post-short" role="article" itemscope itemtype="http://schema.org/Article">{% endif %}
{% if post.featured %}<div class="post featured">{% endif %}
<h1 class="post-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>{% if post.featured %}<span class="featured-post">FEATURED</span>{% endif %}
<div class="post-meta">
by <span class="author">{{ site.owner.name }}</span> on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%A, %B %-d, %Y" }}</time> in {% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} category">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
</div>
<p class="post-excerpt">{{ post.content | strip_html | truncatewords:60 }} <a href="{{ site.url }}{{ post.url }}" rel="bookmark">Read More</a></p>
{% if post_number == site.paginate %}<div class="separator-long"></div>{% else %}<div class="separator-short"></div>{% endif %}
{% if post.featured %}</div>{% endif %}
</article>
{% endfor %}
{% else %}
{% for post in site.posts %}
<article class="post-short" role="article" itemscope itemtype="http://schema.org/Article">
{% if post.featured %}<div class="post featured">{% endif %}
<h1 class="post-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>{% if post.featured %}<span class="featured-post">FEATURED</span>{% endif %}
<div class="post-meta">
by <span class="author">{{ site.owner.name }}</span> on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%A, %B %-d, %Y" }}</time>
</div>
<p class="post-excerpt">{{ post.content | strip_html | truncatewords:60 }} <a href="{{ site.url }}{{ post.url }}" rel="bookmark">Read More</a></p>
<div class="separator-short"></div>
{% if post.featured %}</div>{% endif %}
</article>
{% endfor %}
{% endif %}