      <div class="share-post">
        <a class="share fb"  target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><ul><li>Share on Facebook</li><li><i class="fa fa-facebook fa-lg"></i></li></ul></a>
        <a class="share tw" target="_blank" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}"><ul><li>Share on Twitter</li><li><i class="fa fa-twitter fa-lg"></i></li></ul></a>
      </div>